button {
  all: unset;
}

.DropdownMenuContent {
  @apply rounded border p-1 mx-2 font-mono text-sm;
  min-width: 160px;
  background-color: var(--background);
  border-color: var(--foreground-600);
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}
.DropdownMenuContent[data-side="top"] {
  animation-name: slideDownAndFade;
}
.DropdownMenuContent[data-side="right"] {
  animation-name: slideLeftAndFade;
}
.DropdownMenuContent[data-side="bottom"] {
  animation-name: slideUpAndFade;
}
.DropdownMenuContent[data-side="left"] {
  animation-name: slideRightAndFade;
}

.DropdownMenuItem {
  @apply rounded-sm flex items-center relative h-7 select-none outline-none px-2;
  color: var(--foreground);
}

.DropdownMenuItem[data-disabled] {
  color: var(--blue-8);
  pointer-events: none;
}
.DropdownMenuItem[data-highlighted] {
  background-color: var(--foreground-300);
  color: var(--foreground);
}

.DropdownMenuItemIndicator {
  position: absolute;
  left: 0;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.DropdownMenuArrow {
  fill: var(--foreground-600);
}

.IconButton {
  @apply text-inherit flex flex-row items-center justify-center py-1.5 px-3;
}
.IconButton:hover {
  background-color: var(--foreground-300);
}
.IconButton:focus {
  /* box-shadow: 0 0 0 2px black; */
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
